<a href="https://colab.research.google.com/github/jee-cmd/genius/blob/main/2300331530064_ASSIGNMENT11_04_25.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Python program to add two numbers
x=int(input("Enter first number : "))
y=int(input("Enter second number : "))
sum=x+y
print("Sum of two numbers: ",sum)

Enter first number : 5
Enter second number : 6
Sum of two numbers:  11

In [ ]:
#Python program to find maximum of two numbers
x=int(input("Enter first number : "))
y=int(input("Enter second number : "))
if(x>y):
  print("x is maximum number")
else:
  print("y is maximum")

Enter first number : 123
Enter second number : 1000
y is maximum

In [ ]:
#Python program to find remainder when number divided by 2
number = int(input("Enter a number: "))
remainder = number % 2
print("The remainder when", number, "is divided by 2 is:", remainder)

Enter a number: 354
The remainder when 354 is divided by 2 is: 0

In [ ]:
#Python program to check the type of variable assigned using input() function
x=input("Enter a value :")
print(type(x))

Enter a value :34
<class 'str'>

In [ ]:
#python program to find out whether a given variable a is greater than b or not.Take a=20 and b=60
a = 20
b = 60

if a > b:
    print("a is greater than b")
else:
    print("a is not greater than b")

a is not greater than b

In [ ]:
#python program to find average of two numbers entered by user
a=int(input("Enter first number : "))
b=int(input("Enter second number : "))
avg=(a+b)/2
print("Average of two numbers : ",avg)

Enter first number : 23
Enter second number : 100
Average of two numbers :  61.5

In [ ]:
#python program to calculate the square of number entered by user
number = int(input("Enter a number: "))
square = number ** 2
print("The square of", number, "is:", square)

Enter a number: 45
The square of 45 is: 2025

In [ ]:
#python program to calculate the factorial of number
number = int(input("Enter a number: "))
factorial = 1
for i in range(1, number+1):
    factorial *= i
print("The factorial of", number, "is:", factorial)

Enter a number: 5
The factorial of 5 is: 120

In [ ]:
#python program to calculate the simple interest
principal = float(input("Enter the principal amount: "))
rate = float(input("Enter the interest rate: "))
time = float(input("Enter the time period in years: "))
simple_interest = (principal * rate * time) / 100
print("The simple interest is:", simple_interest)

Enter the principal amount: 1005
Enter the interest rate: 5
Enter the time period in years: 2
The simple interest is: 100.5

In [ ]:
#python program to calculate compound interest
principal = float(input("Enter the principal amount: "))
rate = float(input("Enter the interest rate: "))
time = float(input("Enter the time period in years: "))
amount = principal * (1 + rate/100)**time
compound_interest = amount - principal
print("The compound interest is:", compound_interest)

Enter the principal amount: 2345
Enter the interest rate: 12
Enter the time period in years: 10
The compound interest is: 4938.214048567177

In [ ]:
#python program to check the armstrong number
number = int(input("Enter a number: "))
sum = 0
temp = number
while temp > 0:
    digit = temp % 10
    sum += digit ** 3
    temp //= 10

In [ ]:
#python program to find area of circle
radius = float(input("Enter the radius of the circle: "))
area = 3.14 * radius ** 2
print("The area of the circle is:", area)

Enter the radius of the circle: 35
The area of the circle is: 3846.5

In [ ]:
#python program to check whether a number is prime or not
number = int(input("Enter a number: "))
if number > 1:
    for i in range(2, int(number/2)+1):
        if (number % i) == 0:
            print(number, "is not a prime number")
            break

Enter a number: 4
4 is not a prime number

In [ ]:
#python program to print ASCII value of character
char = input("Enter a character: ")
ascii_value = ord(char)
print("The ASCII value of", char, "is", ascii_value)

In [1]:
#python program for cube of sum of first n natural numbers
n = int(input("Enter a number: "))
sum = 0
for i in range(1, n+1):
    sum += i**3
print("The cube of sum of first", n, "natural numbers is", sum)

Enter a number: 4
The cube of sum of first 4 natural numbers is 100